body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-nav a {
  color: black;
}

.main-content {
  padding: 0 10px 0 10px;
}

.empty-state-content {
  padding: 10px;
}

.create-update-view-inline-actions {
  padding-top: 10px;
}